<!--
    templateType: email
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<tr>
  <td class="footer">
    <div class="footer-divider">
      <table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="social-icon-cell">
            <a href="https://www.heallist.com/" target="_blank" title="Heallist website" style="text-decoration: none">
              <img class="social-icon" src="https://39581079.fs1.hubspotusercontent-na1.net/hubfs/39581079/gray-circle-website.png" width="24" height="24" alt="Heallist website" />
            </a>
          </td>
          <td class="social-icon-cell">
            <a href="https://www.instagram.com/heal_list" target="_blank" title="Heallist on Instagram" style="text-decoration: none">
              <img class="social-icon" src="https://39581079.fs1.hubspotusercontent-na1.net/hubfs/39581079/gray-circle-instagram.png" width="24" height="24" alt="Heallist on Instagram" />
            </a>
          </td>
          <td class="social-icon-cell">
            <a href="https://www.linkedin.com/company/heallist/" target="_blank" title="Heallist on LinkedIn" style="text-decoration: none">
              <img class="social-icon" src="https://39581079.fs1.hubspotusercontent-na1.net/hubfs/39581079/gray-circle-linkedin.png" width="24" height="24" alt="Heallist on LinkedIn" />
            </a>
          </td>
          <td class="social-icon-cell">
            <a href="https://www.facebook.com/Heallist" target="_blank" title="Heallist on Facebook" style="text-decoration: none">
              <img class="social-icon" src="https://39581079.fs1.hubspotusercontent-na1.net/hubfs/39581079/gray-circle-facebook.png" width="24" height="24" alt="Heallist on Facebook" />
            </a>
          </td>
          <td class="social-icon-cell">
            <a href="https://www.youtube.com/@Heallist" target="_blank" title="Heallist on YouTube" style="text-decoration: none">
              <img class="social-icon" src="https://39581079.fs1.hubspotusercontent-na1.net/hubfs/39581079/gray-circle-youtube.png" width="24" height="24" alt="Heallist on YouTube" />
            </a>
          </td>
        </tr>
      </table>
      &copy; {{ year }} Heallist Inc., All rights reserved.<br />
      Heallist Inc, P.O. Box 210, Garrison, NY 10524<br />
      You can
      <a href="{{ unsubscribe_link }}" target="_blank">update your preferences</a>
      or
      <a href="{{ unsubscribe_link_all }}" target="_blank">unsubscribe</a>
      at any time.
    </div>
  </td>
</tr>

<!-- End partial -->
