<!--
    templateType: email
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<tr>
  <td class="header" align="center">
    <a
      href="https://www.heallist.com/"
      target="_blank"
      style="display: inline-block; text-decoration: none"
    >
      <img
        src="https://39581079.fs1.hubspotusercontent-na1.net/hubfs/39581079/black-logo.png"
        width="150"
        alt="Heallist"
        style="width: 150px; max-width: 100%"
      />
    </a>
  </td>
</tr>
<!-- End partial -->